* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-div {
  display: grid;

  height: 250px;
  background-color: darkolivegreen;
  margin: 10px;
  border: solid black 1px;
  border-radius: 10px;
}
.main-div-img {
  height: 125px;
  margin: 10px;
  border-radius: 7px;
}
